<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HonDa</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@600&family=Kanit&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/contact.css">
</head>

<body>
   
  <div id="header">
    <div class="logo">
      <div class="row wrap-logo">
        <div class="col-xl-3 col-md-12 col-12">
          <img class="logo-img" src="../imgs/logo.png" alt="">
        </div>
        <div class="wrap-header col-xl-6 col-md-8 col-8">
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Tìm tên sản phẩm..." aria-label="Search"
              aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <button type="button" data-mdb-ripple-init>tìm kiếm</button>
            </span>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-4">
          <a href="../templates/login.html">
            <p class="login-singin">
              Đăng ký||Đăng nhập
            </p>
          </a>
        </div>
        <div class="btn-bar"><i class="fa-solid fa-bars"></i></div>
        
      </div>
    </div>
    <div>
      <ul class="menu_ngang">
        <li><a href="/index.html">Trang Chủ</a></li>
        <li><a href="">Giới Thiệu</a></li>
        <li><a href="../templates/contact.html">Liên Hệ</a></li>
        <li><a href="">Chi Tiết</a></li>
        <li><a href="">Chăm Sóc Khách Hàng</a></li>
        <div class="close-bar"><i class="fa-solid fa-xmark"></i></div>
      </ul>
    </div>
  </div>
  <section id="contact">
    <div class="row">
      <div class="col-sm-12">
        <div class="index-contact">
          <img style="height: 100%;width: 100%;" src="../imgs/contact-us-banner-vector-46424527.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-6">
        <form class="form needs-validation">
          <div class="index-item">
            <ul>
              <li> <span>Liên Hệ</span></li>
              <li>
                <h2>Yêu Cầu Tư Vấn Của Khách Hàng</h2>
              </li>
              <li>
                <div class="form-group">
                  <label class="form-lable">Email</label>
                  <input class="form-control email" name="email-Contact" placeholder="Nhập email" type="email" value=""
                    required />
                  <span class="error-message erroremail_contact"></span>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="form-lable">Họ và tên</label>
                  <input class="form-control name" name="name-Contact" placeholder="Nhập họ và tên" type="email" value=""
                    required />
                  <span class="error-message errorname"></span>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="form-lable">Vấn đề</label>
                  <input class="form-control problem" name="problem-Contact" placeholder="Nhập vấn đề" type="email" value=""
                    required />
                  <span class="error-message errorproblem"></span>
                </div>
              </li>
              
              <li> 
                <div class="form-group">
                <label class="form-lable">Nội dung</label>
                <input class="form-control content" name="content-Contact"  placeholder="Nhập nội dung" type="email" value=""
                  required />
                  <span class="error-message errorcontent"></span>
              </div>
            </li>
            <button class="form-contact" type="submit" name="submit_contact">Gửi</button>
          </ul>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <p class="q-map">Hãy Liên Hệ Trực Tiếp Qua Địa Chỉ:</p>
        <div class="index-item-map">
          <iframe class="ggmap"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.954410425894!2d106.6752571749072!3d10.737997189408427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f62a90e5dbd%3A0x674d5126513db295!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgU8OgaSBHw7Ju!5e0!3m2!1svi!2s!4v1715575934098!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <marquee class="p-map" direction="right">Trường Đại học Công Nghệ Sài Gòn</marquee>
      </div>
    </div>
  </section>

  </div>
  <div id="footer">
    <footer>
      <div class="row" style="background-color :aliceblue;height: fit-content;">
        <div class="col-xl-3 col-12">
          <div class="item-footer">
            <img style="border: 1px ; border-radius: 15px;" class="logo-footer" src="../imgs/logo.png" alt="">
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <ul>
            <li>
              <h4>
                Xe Máy
              </h4>
            </li>
            <li>Sản phẩm</li>
            <li>Phụ tùng</li>
            <li>Phụ Kiện</li>
            <li>Dịch vụ bán hàng</li>
            <li>Cửa hàng doanh nghiệp</li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <ul>
            <li>
              <h4>
                Bản Tin
              </h4>
            </li>
            <li>Nguyễn Thành Đạt</li>
            <li>DH52110775</li>
            <li>D21_TH11</li>
            <li>Tin tức khác</li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-6 col-12" style="padding-top: 10px;">
          <a class="img-footer" href=""><i class="bi bi-facebook fa-4x"></i></a>
          <a class="img-footer" href=""><i class="fa-brands fa-youtube fa-4x"></i></a>
          <a class="img-footer" href=""><i class="fa-brands fa-tiktok fa-4x"></i></a>
        </div>
      </div>

    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script src="../scripts/click.js"></script>
  <script src="../scripts/check.js"></script>
</body>

</html>