<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
   
   
</head>
<body>
    <section id="signUp-container">
        <form class="form needs-validation" id="register-form" >
            <h3 class="form-heading">Đăng Ký</h3>
            <div class="spacer"></div>
            </div>
            <div class="form-group" >
                <label for="email" class="form-lable">Email</label>
                <input
                    class="form-control email"
                    name="emailRegister"
                    placeholder="Ex: email@gmail.com"
                    type="email"
                
                />
                <span class="error-message erroremail"></span>
                </div>
            </div>
            <div class="form-group">
                    <label for="name" class="form-lable">Tên</label>
                    <input
                        class="form-control"
                        name="firstName"
                        placeholder="Nhập tên"
                        type="text"
                    
                    />
                    <span class="error-message errorname"></span>
            </div>
            <div class="form-group">
                <label for="phone-number" class="form-lable">Số điện thoại</label>
                <input
                    class="form-control phone-number"
                    name="phoneNumber"
                    placeholder="Nhập số điện thoại"
                    type="text"
                
                />
                <span class="error-message errorphone"></span>
            </div>    
            <div class="form-group">
                <label for="passwordRegister" class="form-lable">Mật khẩu</label>
                <input
                    class="form-control password-register"
                    name="passwordRegister"
                    placeholder="Nhập mật khẩu"
                    type="password"
                
                />
                <span class="error-message errorpass"></span>
            </div>
            </div>
            <p class="switch-login-form">
                Bạn đã có tài khoảng? <a href="../templates/login.html">Đăng nhập</a>
            </p>
            <button class="form-submit" type="submit" name="submit_register">Đăng ký</button>
            <div class="form-close"><i class="bx bx-x"></i></div>
        </form>
    </section>

    <section id="login-container">
        <div class="login-logo">
            <p class="logo">
                <div class="">
                    <img style="width: 100%;" src="../imgs/logo.png" alt="">
                  </div>
            </p>
            <h4>Hãng Xe Việt Nam Chất Lượng</h4>
        </div>
        <div>
            <form class="form needs-validation" id="login-form">
                <h3 class="form-heading">Login</h3>
                <div class="spacer"></div>
                <div class="form-group">
                    <label for="email" class="form-lable"
                        >Email</label
                    >
                    <input
                        class="form-control user-name"
                        name="emailLogin"
                        placeholder="Nhập email"
                        type="email"
                        value=""
                    
                    />
                    <span class="error-message erroremail_login"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-lable"
                        >Mật khẩu</label
                    >
                    <input
                        class="form-control password"
                        name="passwordLogin"
                        placeholder="Nhập mật khẩu"
                        type="password"
                    
                    />
                    <span class="error-message errorpass_login"></span>
                </div>
                <p class="switch-register-form">
                    Bạn chưa có tài khoảng? <a href="#">Đăng ký</a>
                </p>
                <button class="form-submit-login" type="submit" name="submit_login">Đăng nhập</button>
            </form>
        </div>
    </section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="../scripts/login.js"></script>
    <script src="../scripts/check.js"></script>
</body>

</html>