<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
   
   
</head>
<body>
    <section id="signUp-container">
        <form class="form needs-validation" id="register-form" novalidate>
            <h3 class="form-heading">sign up</h3>
            <div class="spacer"></div>
            </div>
            <div class="form-group">
                <label for="email" class="form-lable">Email</label>
                <input
                    class="form-control email"
                    name="emailRegister"
                    placeholder="Ex: email@gmail.com"
                    type="email"
                    required
                />
                <span class="error-message erroremail"></span>
                </div>
            </div>
            <div class="form-group">
                    <label for="name" class="form-lable">First name</label>
                    <input
                        class="form-control"
                        name="firstName"
                        placeholder="Enter name"
                        type="text"
                        required
                    />
                    <span class="error-message errorname"></span>
            </div>
            <div class="form-group">
                <label for="phone-number" class="form-lable">Phone number</label>
                <input
                    class="form-control phone-number"
                    name="phoneNumber"
                    placeholder="Enter phone number"
                    type="text"
                    required
                />
                <span class="error-message errorphone"></span>
            </div>    
            <div class="form-group">
                <label for="passwordRegister" class="form-lable">password</label>
                <input
                    class="form-control password-register"
                    name="passwordRegister"
                    placeholder="Enter password"
                    type="password"
                    required
                />
                <span class="error-message errorpass"></span>
            </div>
            </div>
            <p class="switch-login-form">
                Already have an account <a href="#">Login</a>
            </p>
            <button class="form-submit" type="submit" name="submit_register">Sign up</button>
            <div class="form-close"><i class="bx bx-x"></i></div>
        </form>
    </section>

    <section id="login-container">
        <div class="login-logo">
            <p class="logo">
                <div class="">
                    <img style="width: 100%;" src="../imgs/logo.png" alt="">
                  </div>
            </p>
            <h4>Hãng Xe Việt Nam Chất Lượng</h4>
        </div>
        <div>
            <form class="form needs-validation" id="login-form" novalidate>
                <h3 class="form-heading">Login</h3>
                <div class="spacer"></div>
                <div class="form-group">
                    <label for="email" class="form-lable"
                        >Email</label
                    >
                    <input
                        class="form-control user-name"
                        name="emailLogin"
                        placeholder="Enter email"
                        type="email"
                        value=""
                        required
                    />
                    <div id="invalid-feedback user-name">
                      </div>
                </div>
                <div class="form-group">
                    <label for="password" class="form-lable"
                        >Password</label
                    >
                    <input
                        class="form-control password"
                        name="passwordLogin"
                        placeholder="Enter password"
                        type="password"
                        required
                    />
                    <div class="invalid-feedback text-start">
                    </div>
                </div>
                <p class="switch-register-form">
                    Don’t have an account? <a href="#">Sign up</a>
                </p>
                <button class="form-submit" type="submit" name="submit_login">Login</button>
            </form>
        </div>
    </section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="../scripts/login.js"></script>
    <script src="../scripts/source.js"></script>
    <script src="../scripts/check.js"></script>
</body>

</html>