<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/product.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="content">
        <h3>Thông tin sản phẩm và giá thành:</h3>
    <div class="row">
        <div class="col-sm-6">
                <div>
                    <img style="width: 100%; height: 100%;" src="../imgs/cup.png" alt="">
                </div>
        </div>
        <div class="col-sm-6">
            <span class="font-xe" >
                Xe Supper Cub C125
            </span> <br>
            <span class="gia-xe">
                Từ 86.292.000 VNĐ
            </span>
            <div class="color-item">
                <span>
                    Màu đen đỏ :
                </span> <br>
               <input class="mau-xe" type="color" name="" id=""> <input type="color" name="" id="" value="#ff0000">
            </div>
            <div class="color-item">
                <span>
                    Màu đen xám :
                </span> <br>
                <input class="mau-xe" type="color" name="" id=""> <input type="color" name="" id="" value="#2c2c2c">
             </div>s
             <table class="thongtin">
                <tr>
                    <td>
                        <p><strong>Khối lượng bản thân</strong></p>
                    </td>
                    <td style="padding-left: 50px;">
                        <p>172 kg</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Dài x Rộng x Cao</strong></p>
                    </td>
                    <td style="padding-left: 50px;">
                        <p>2.160 mm x 743 mm x 1.162 mm</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Phuộc trước</strong></p>
                    </td>
                    <td style="padding-left: 50px;">
                        <p>Phuộc ống lồng giảm chấn thủy lực</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Phuộc sau</strong></p>
                    </td>
                    <td style="padding-left: 50px;">
                        <p>Phuộc sau đôi, lò xo trụ, giảm chấn thủy lực</p>
                    </td>
                </tr>
             </table>
        </div>
      </div>
      
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</html>