.index-item ul li{
    list-style: none;
    margin: 15px;
}
.index-item {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    padding-top: 10px;
    border-radius: 30px;
    padding-bottom: 25px;
    background-color: #fff;
}
* {
    padding: 0px;
    margin: 0px;
    font-family: "League Spartan", sans-serif;
}

.p-map{
    margin-top: 10px;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 25px;
    text-align: center;
    color: red;
    padding-top: 12px;
    background-color: #fff;
}
.q-map{
    font-size: 19px;
}
.item-x{
    border-radius: 15px;
}
body{
    background-color: #c2c2c2;
}
.error-message {
    font-size: 12px;
    color: red;
    display: block;
    text-align: center;
}
.form-contact{
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 5%;
    background-color: #c2c2c2;
    color: #fff;
}
.form-contact:hover{
    background-color: red;
    font-size: 14px;
}

