:root {
    --primary-color: #DB0000
}

#header {
    width: 300px;
    height: 100%;
    padding-left: 600px;
    padding-top: 30px;
}

#login-container {
    margin-top: 60px;
    display: flex;
    padding: 60px 70px;
    justify-content: space-between;
    background-color: #e3e6f3;
}

#login-container>div {
    width: 40%;
}

#login-container .login-logo {
    width: 60%;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-size: 4rem;
    font-weight: 700;
    width: 78%;
    margin: 0 auto;
}

.logo span {
    color: var(--primary-color);
}

#login-container .login-logo h4 {
    font-weight: 400;
    font-size: 16px;
}

.form {
    min-height: 300px;
    padding: 50px 40px;
    text-align: center;
    background: #fff;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.form-group {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    width: 100%;
}
.form-close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 35px;
    cursor: pointer;
    z-index: 999;
}
.bx-x:before {
    content: "Đóng";
}
.bx{
    font-size: 15px;
    font-style: normal;
    padding-right: 5px;
}
.form-label,
.form-message {
    text-align: left;
}

.form-lable {
    font-weight: 600;
    padding-bottom: 6px;
    line-height: 0.85rem;
    font-size: 0.85rem;
    text-align: start;
}

.form-control {
    height: 36px;
    padding: 2px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
}


.form-submit {
    outline: none;
    background-color: var(--primary-color);
    margin-top: 4px;
    padding: 8px 16px;
    font-weight: 600;
    color: #e3e6f3;
    border: none;
    width: 60%;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
}
.form-submit-login {
    outline: none;
    background-color: var(--primary-color);
    margin-top: 4px;
    padding: 8px 16px;
    font-weight: 600;
    color: #e3e6f3;
    border: none;
    width: 60%;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    opacity: 0.8;
}

.spacer {
    margin-top: 52px;
}

.switch-register-form {
    font-size: 14px;
    margin: 8px 0 4px;
}

.switch-register-form a {
    color: var(--primary-color);
    text-decoration: underline;

}

#signUp-container {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 9999;
    top: 0;
    animation: growth ease-in 0.2s;
}

#register-form {
    min-width: 40%;
    padding: 30px 60px;
    border-radius: 6px;
}

.last-name,
.first-name {
    text-align: left;
    max-width: 45%;
}

.switch-login-form {
    margin: 8px 0 4px 0;
    font-size: 0.85rem;
}

.switch-login-form a {
    color: var(--primary-color);
}

#register-form .spacer {
    margin-top: 15px;
}

#register-form .form-heading {
    font-size: 24px;
    margin-bottom: 0;
}

#register-form .form-group {
    margin: 4px 0;
}

.form-close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 35px;
    cursor: pointer;
    z-index: 999;
}

.invalid-feedback {
    font-size: 0.7rem;
    margin-top: 0.1rem;
}


@media (max-width: 1023px) {
    #login-container {
        justify-content: center;
        padding: 80px 40px;
    }

    #login-container .login-logo {
        display: none;
    }

    #login-container>div {
        width: 60%;
    }
}

@media (max-width: 739px) {
    #login-container {
        padding: 80px 30px;
    }

    #login-container>div {
        width: 100%;
    }
}

.error-message {
    font-size: 12px;
    color: red;
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}